google_play_scraper==1.2.7
imbalanced_learn==0.13.0
joblib==1.4.2
matplotlib==3.10.1
nltk==3.9.1
numpy==2.2.4
pandas==2.2.3
protobuf==6.30.2
Requests==2.32.3
Sastrawi==1.0.1
Sastrawi==1.0.1
scikit_learn==1.6.1
seaborn==0.13.2
tensorflow==2.18.0
wordcloud==1.9.4
